*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

  font-family: 'Open Sans', 'sans-serif';
}

.nav{
  display:flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  
}

.nav .logo{
  margin-left: 50px;
}
.nav .links{
  display:flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap:30px;
 
}

.nav .links a{
  color: rgb(5, 9, 13);
  text-decoration: none;
}
.nav .links a:hover{
  color:rgb(13, 107, 107);
}

.nav .btn{
  border:none;
  height:30px;
  width: 150px;
  margin-right: 100px;
  border-radius: 3px;
  background-color: rgb(58, 196, 109);
  color:aliceblue;
}
.nav .btn:hover{
  background-color: rgb(29, 90, 142);
  cursor: pointer;
}
.hero {
  width:98.8vw;
  height: 90vh;
  background-image: url("assets/hero-bg.png");
  display:flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-container .early-btn{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  height:30px;
  width:200px;
  color: rgb(17, 188, 17);
  border-radius: 50px;
  border:none;
  margin-left: 190px;
}
.hero .hero-container .early-btn:hover{
  background-color:rgb(17, 188, 17);
  color:white;
 
}
 .early-btn:hover .dot{
  height:5px;
  width:5px;
  border-radius: 50%;
  background-color: rgba(243, 247, 243, 0.667);
  box-shadow: 0 0 0 4px rgba(241, 244, 242, 0.189);
}

.early-btn .dot{
  height:5px;
  width:5px;
  border-radius: 50%;
  background-color: rgba(12, 142, 12, 0.667);
  box-shadow: 0 0 0 4px rgba(4, 117, 45, 0.189);
}

.hero-container h1{
  
  font-size: 60px;
  color:aliceblue;

}

.hero-container .special{
  color:rgb(17, 173, 74);
  margin-bottom: 10px;
}

.hero-container p{
  line-height: 1.6;
  color:aliceblue;
  font-size: 15px;
  margin-left: 29px;
}

.hero-container  .sp{
 margin-left: 15px;
 margin-bottom: 20px;
}
.buttons{
  display:flex;
  gap:10px;
  margin-left: 45px;
}
.start-btn{
   margin-left:40px;
   background-color: rgb(12, 137, 85);
   gap:10px;
   display:flex;
   align-items: center;
   border:none;
   height:40px;
   padding:10px;
   color:azure;
   border-radius: 5px;
}

.start-btn:hover{
  background-color: azure;
  color:rgb(12, 137, 85);
}

.see-btn{
  width:140px;
  color:white;
  background: transparent;
  border:none;
  border:1px solid white;
  border-radius:5px;

}
.see-btn:hover{
  background-color:white;
  color:rgb(12, 137, 85);
  
}


.text-container{
  margin-top:50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
 
}
.text-container h1{
  color: rgb(15, 15, 15);
  font-weight:bolder;
  margin-bottom:10px;
 
}
.text-container p{
 color:rgb(54, 53, 51)
}
.card-container{
  width:100%;
  height:200px;
}
.cards{
  margin-left:80px;
  margin-right:80px;
  height:100%;
  display:flex;
  gap:10px;
  justify-content: space-between;

}

.card{
  height:100%;
  width:250px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  border:0.1px solid rgb(209, 209, 209);
  
  border-bottom: none;
  box-shadow:none ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 9px;
  
}
.card .image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  background-color: #ff4e4e;
  height:50px;
  width:50px;
  border-radius: 50%;
  margin-bottom:10px;
}

.card .headline{
  color:rgb(33, 30, 30);
  font-size: 15px;
  margin-bottom:15px;
}
.card .notes{
  font-size: 13px;
  color:rgb(90, 100, 100);
  font-weight: 500;
  text-align: center;
}

.image-and-tips{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
 
  gap:70px;
}
.image-and-tips{
  margin-left: 80px;
}

.image-and-tips .light img{
  height:500px;
  width:500px;
}
.tips{
  align-self: center;
}

.tips #head{
  color:rgb(7, 224, 98)
}
.tips h1{
  color:rgb(28, 28, 28)
}
.tips #second{
  margin-bottom: 10px;
}
.tips #text{
  width: 70%;
  font-size: small;
  color:rgb(155, 162, 168);
  margin-bottom: 15px;
  
}
.tips-container{
  list-style: none;
  line-height: 5px;
}
.tip{
  display:flex;
  align-items: center;
  gap:10px;
  font-size: 12px;
}

.ready{
  margin: 120px 120px 120px 120px;
  height:330px;
  background-color: #f6f6ec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ready h2{
  margin-bottom: 10px;
}

.ready #first{
  text-align: center;
  font-size: small;
  color:rgb(155, 162, 168);
  margin-bottom: 10px;
}

.ready button{
  width:180px;
  display:flex;
  justify-content: center;
  gap:10px;
  height: 35px;
  align-items: center;
  background-color: rgb(25, 178, 114);
  color:white;
  border:none;
  border-radius:3px;
  margin-bottom: 10px;
}
.ready button:hover{
  background-color: white;
  color:rgb(25, 178, 114);
}
.ready #second{
  font-size: small;
  color:rgb(155, 162, 168);
}

.last{
  width:100%;
  height:250px;
  display:flex;
  flex-direction: column;
  background-color: rgb(12, 16, 48);
}

.element-container{
  margin-left: 70px;
  margin-right:70px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:170px;
}
.links{
  display: flex;
  flex-direction: row;
  gap:15px;
  margin-right: 70px;
}
.link{
  list-style: none;
}

.socials p{
  margin-left:30px ;
  margin-bottom:5px ;
  color:#f6f6ec;
}

.links .link{
  height:40px;
  width:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f6f6ec;
}
.links .link:hover{
  background-color:  rgb(12, 16, 48);
}

.copy{
  color:white;
  text-align: center;
}